@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&family=Redressed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

div{
    margin-bottom: 100px;
}

header{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

h1{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 35px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: inline-block;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.cabeçalho-img{

max-width: 180px;
}

nav{
    position: absolute;
    right:15%;
    display: inline-block;
}

.div-header{
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
    padding-left: 12%;
}

.header-button{
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    padding: 10px;
    padding-left:60px;
    padding-right:60px;
    border-radius: 50px;
    box-shadow:1px 1px 5px 1px rgb(224, 221, 221);
    font-weight: 600;
}

.section-1{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.div-section-1{
    font-family: 'Open Sans', sans-serif;
    color: hsl(197, 84%, 13%);
    max-width: 500px;
    display: inline-block;
    margin-top: 100px;
    background: none;
}




.div-section-1 p{
    margin-bottom: 50px;
    
}

.section-1-button{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 15px;
    padding-left:60px;
    padding-right:60px;
    border-radius: 50px;
    box-shadow:1px 1px 5px 1px rgb(224, 221, 221);
    font-weight: 700;
    
}

.section-1-button:hover{
    background-color: hsla(322, 100%, 66%, 0.788);
}
.header-button:hover{
    background-color: rgba(255, 255, 255, 0.678);
}

.div-section-padrão{
    font-family: 'Open Sans', sans-serif;
    color: hsl(197, 84%, 13%);
    max-width: 400px;
    display: inline-block;
    margin-top: 100px;
    background:none;
    margin-left:30%;
    transform: translate(-50%);
}

.section-padrão{
    border-radius: 20px;
    box-shadow:1px 1px 5px 1px rgb(224, 221, 221);
    max-width: 70%;
    margin: auto;
    margin-bottom: 100px;
    
}


.p-section{
    color:gray;
}

.section-img-2{
    position: absolute;
    right: 15%;
    margin-top: 20px;
}

.section-img{
    position: absolute;
    right: 25%;
    margin-top: 20px;
}

.text-right{
    font-family: 'Open Sans', sans-serif;
    color: hsl(197, 84%, 13%);
    max-width: 400px;
    display: inline-block;
    margin-top: 100px;
    background:none;
    margin-left:40%;
    transform: translate(+50%)
    
}

.img-right{
    position: absolute;
    left: 25%;
    margin-top: 20px;

}

.div-section-footer{
    font-family: 'Open Sans', sans-serif;
    color: hsl(197, 84%, 13%);
    background:none;
    text-align: center;
    padding: 80px;
    padding-top: 55px;
    padding-bottom: 75px;
    margin-bottom: 0px;
}
.section-footer{
    border-radius: 20px;
    box-shadow:1px 1px 1px 1px rgb(224, 221, 221);
    width: 50%;
    background-color: white;
    margin: auto;
    position: relative;
    margin-top: 200px;
    top: 75px;

    
}

.footer-button{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 20px;
    padding-left:60px;
    padding-right:60px;
    border-radius: 50px;
    box-shadow:1px 1px 1px 1px rgb(224, 221, 221);
    font-weight: 700;
    width: 100%;
}

.footer-button:hover{
  background-color:hsla(322, 100%, 66%, 0.788);

}

.h2-footer{
    margin-bottom: 50px;
}

footer{
    background-color: rgb(5, 35, 50);
    width: 100%;
    color: white;
    padding-top: 100px;
    padding-bottom: 1px;
}
.logo-footer{
    margin-bottom: 0px;
    padding-top: 50px;
    margin-left: 14%;
    margin-bottom: 35px;

}

.div-footer-1{
    background:none;
    max-width: 400px;
}

.loc{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: none;
    gap: 30px;
    margin-bottom: 20px;
}

.center{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    gap: 30px;
    margin-bottom: 30px;

}

.div-footer-2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background: none;
}

div ul{
    list-style-type: none;
    
}

li{
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 10px;

}



@media screen and (max-width :1000px){

    .cabeçalho-img{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        
    }
    
    
    nav{
        right: auto;
        left: 50%;
        transform: translate(-50%);
        top: 18%;
        
    }

    .section-img-2{
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%);;
        margin-top: 20px;
        width: 350px;
    }

    .div-section-1{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 300px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .section-1-button{
        padding: 8px;
        padding-left:7px;
        padding-right:7px;

        
    }
    .header-button{

        padding: 5px;
        padding-left:10px;
        padding-right:10px;

    }
    
    .div-section-padrão{
        padding-left: 50px;
    }
    .section-img{
        position: relative;
        bottom: 70px;
        width: 200px;
        left: 5px;
    }
    
    .text-right{
        position: relative;
        right: 150px;
        
    }
    .img-right{
        position: relative;
        width: 200px;
        bottom: 60px;
              
    }
    .section-footer{
        width: 80%;
        
    }

    .footer-button{
        padding: 10px;
        padding-left:30px;
        padding-right:30px;
    }
    .div-section-footer{
        
        padding-left:20px ;
        padding-right:20px ;
       
    }

    .div-footer-2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}   
